/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/

/*
 * ALLGEMEINES
 */
html {
    background-image: url(https://picsum.photos/1600?image=20);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    font-family: sans-serif;
    font-size: 12pt;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

body {
    background: rgba(0,0,0,0.8);
    color: rgb(230,230,230);

    padding: 1em;
    border-radius: 1em;
    min-width: 50em;
}

h1 {
    color: crimson;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

a, a:visited {
    color: deepskyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.margin-bottom {
    margin-bottom: 1em;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

/**
 * STARTSEITE
 */
.message {
    font-style: italic;
}

.waste_name {
    padding-right: 3em;
}

.waste_name a,
.waste_name a:visited {
    color: rgb(230,230,230);
}

/**
 * FORMULAR ZUM ANLEGEN
 */
td {
    vertical-align: top;
}

.label {
    text-align: right;
}

label {
    margin-right: 1em;    
}

input, select, textarea {
    min-width: 40em;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 30em;
}

.errors {
    list-style: none;
    font-weight: bold;
    color: red;
    padding: 0;
}